$footer_height: 150px;

$common_bg_color: #ffffff;
$link_color: #0070be;
$text_color: #222;
$light_bg_color: #f7f7f7;
$time_text_color: lighten($text_color, 25%);

//Buttons
$button_text_color: #ffffff;
$button_edit_bg_color: #239687;
$button_nav_bg_color: #0070be;
$button_delete_bg_color: #dc143c;

// Comments
$comments_bg_color: #f1f1f1;
$comments_border_color: #dfdfdf;
$comments_input_border_color: #bbb;
$comments_highlight_color: #ffec82;
$admin_comment_author_bg_color: #00008b;
$admin_comment_author_text_color: #ffffff;

$editor_button_text_color: #000000;
$editor_button_hover_text_color: #000000;

$input_border_color: #bbb;
$input_outline_color: lighten($link_color, 20%);
$form_readonly_background_color: #d3d3d3;
$description_text_color: #888;

$validation_summary_text_color: #8b0000;
$validation_summary_background_color: #ffe6e6;

$footer_background_color: #222222;
$footer_text_color: #ffffff;
$footer_link_text_color: #ffffff;

$noscript_background_color: #dc143c;
$noscript_text_color: #ffffff;

$social_sharing_icon_color: #808080;
