@import "variables";
@import "mixins";

#menu-icon {
	position: absolute;	
	display: block;
	opacity: 1;
	top: 0.5em;
	right: 1.5em;

	&:hover {
		opacity: 0.85;
	}
}

.navbar {
	float: none;
	max-height: 0;
	overflow: hidden;
	text-align: left;
	@include transition(max-height .4s);

	.menu {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			list-style-type: none;			
			font-size: 17px;
			display: block;
		
			a {
				display: block;
				text-decoration: none;
				padding: 8px 0.8em 8px 0.8em;
				@include transition(all 0.2s ease);
			}
		}
	}
}

//increase the max-height if you add more links.
.expand {
	max-height: 20em;
}

.siteheader {
	text-align: left;
	padding: 0.8em 0 2em 0;

	p {
		font-size: 2em;
	}

	a {
		text-decoration: none;
	}
}

@media only screen and (max-width : 767px) {
	.siteheader {
		p {
			padding-right: 45px;
		}

		.container {
			position: relative;
		}
	}
}

@media only screen and (min-width : 768px) {
	
	/* Mobile menu icon */
	#menu-icon {
		display: none;
	}

	.navbar {
		max-height: none;
		border-bottom: 1px solid;
		position: relative;

		.btn.btn-day, .btn.btn-night {
			position: absolute;
			right: 0;
			top: 3px;
		}
		
		.menu {
			li {
				list-style-type: none;
				display: inline-block;
				text-align: center;
				
				a {
					display: block;
					border-bottom: 0;					
				}
			}
		}
	}
}

//COLORS
@include navigation-colors-mixin();
//COLORS